@use 'variables'

.modal
	position: fixed
	inset: 0
	display: flex
	align-items: center
	justify-content: center
	z-index: 1000
	opacity: 0
	visibility: hidden
	pointer-events: none 
	transition: opacity 0.3s ease, visibility 0.3s ease
	&.active
		opacity: 1
		visibility: visible
		pointer-events: all

		.modal__overlay
			opacity: 1

		.modal__content
			opacity: 1
			transform: translateY(0)

.modal__overlay
	position: absolute
	inset: 0
	background: rgba(0, 0, 0, 0.5)
	opacity: 0
	transition: opacity 0.3s ease

.modal__content
	position: relative
	background: #fff
	padding: 40px
	border-radius: 8px
	z-index: 1
	max-width: 1000px
	width: 90%
	opacity: 0
	transform: translateY(20px)
	transition: opacity 0.3s ease, transform 0.3s ease
	overflow: auto
	max-height: 80%

.modal__text
	display: flex
	flex-direction: column
	row-gap: 15px
	p
		font-size: 1.06rem
		line-height: 1.56rem
		color: variables.$color-gray
		letter-spacing: 0.3px

.modal__close
	position: absolute
	width: 32px
	height: 32px
	cursor: pointer
	top: 10px
	right: 10px

	&::before,
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		width: 20px
		height: 2px
		background-color: #333
		transform-origin: center

	&::before
		transform: translate(-50%, -50%) rotate(45deg)

	&::after
		transform: translate(-50%, -50%) rotate(-45deg)
