@use 'variables'

.questions
	padding: 110px 0
	@media (max-width: variables.$breakpoint-md)
		padding: 100px 0 0
	@media (max-width: variables.$breakpoint-md)
		padding: 60px 0 0

.questions__container
	position: relative

.questions__pattern
	position: absolute
	left: -95px
	top: 45px
	width: 440px
	@media (max-width: variables.$breakpoint-xl)
		width: 370px
		left: -75px
		top: 35px
	@media (max-width: variables.$breakpoint-md)
		display: none

.questions__list
	display: flex
	flex-direction: column
	row-gap: 20px
	position: relative
	z-index: 2

.questions__item
	border: 1px solid #D7D7D7
	padding: 11px 40px
	background-color: variables.$color-white
	border-radius: 5px
	&.open
		.questions__question
			img
				transform: rotate(270deg)
		.questions__arrow
			&::after
				transform: translateY(-50%) rotate(-135deg)
		.questions__answer
			max-height: 500px
	&.closed
		.questions__question
			img
				transform: rotate(90deg)
		.questions__answer
			max-height: 0
			padding: 0

.questions__question
	color: variables.$color-black
	font-size: 1.12rem
	line-height: 1.62rem
	text-align: left
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	padding: 10px 0
	column-gap: 30px
	img
		width: 8px
		filter: variables.$filter-color-black

.questions__arrow
	display: flex
	position: relative
	width: 15px
	height: 15px
	&::after
		content: ""
		position: absolute
		top: 47%
		width: 10px
		height: 10px
		border-right: 3px solid variables.$color-black
		border-bottom: 3px solid variables.$color-black
		transform: translateY(-50%) rotate(45deg)
		transition: transform 0.25s ease, border-color 0.25s ease

.questions__answer
	display: flex
	flex-direction: column
	row-gap: 10px
	padding: 0
	overflow: hidden
	transition: max-height 0.3s ease
	max-height: 0
	p
		color: variables.$color-gray
		font-size: 1rem
		line-height: 1.56rem
		text-align: justify
		letter-spacing: 0.3px
		@media (max-width: variables.$breakpoint-xl)
			text-align: left
