// colors
$color-primary: #00a8e8
$color-white: #ffffff
$color-black: #151515
$color-gray: #929292

// typography
$font-primary: 'Inter', sans-serif

// breakpoints
$breakpoint-sm: 480px
$breakpoint-md: 768px
$breakpoint-lg: 1024px
$breakpoint-xl: 1280px

// filters
$filter-color-primary: brightness(0) saturate(100%) invert(55%) sepia(62%) saturate(2870%) hue-rotate(161deg) brightness(92%) contrast(104%)
$filter-color-secondary: brightness(0) saturate(100%) invert(71%) sepia(59%) saturate(495%) hue-rotate(169deg) brightness(103%) contrast(101%)
$filter-color-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
$filter-color-black: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(753%) hue-rotate(317deg) brightness(92%) contrast(84%)